extends layout

block content
  //- .nav-md
  .container.body
    .main_container
      //- Left Nav
      .col-md-3.left_col
        .left_col.scroll-view
          a(href='/')
            img.brand-img.img-responsive(src='images/logo_white.png')
          #sidebar-menu.main_menu_side.hidden-print.main_menu
            .menu_section
              ul.nav.side-menu
                li
                  a(href='/')
                    i.fa.fa-shopping-cart
                    |  Orders
      //- Top Nav
      .top_nav
        .nav_menu
          nav
            .nav.toggle
              a#menu_toggle
                i.fa.fa-bars
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/logout') 
                  i.fa.fa-sign-out

      .right_col(role='main')
        block subcontent
